@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/*Nav Bar */
nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px; 
    background-color: #cafdff;
}

a{ /*styles all anchor <a> tags */
  color: black;  
  font-size: 24px;
  font-weight: 600;
}

.logo{
    width: 300px;
}

ul{ /*makes list style horizontal instead of vertical */
    display: flex;  
}

li{ 
    list-style: none; /*makes no bullet points */
    padding-left: 16px;
} 

/* HEADING */

header{
    background-color: #eadcff;
    min-height: calc(100vh - 70px);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 100%;
    border-radius: 4px;
}

h1{
    font-size: 72px;
}

.subheader{
    font-size: 36px;
    margin: 16px 0px 24px 0px;
}

button{
    background-color: #05c7cf;
    color: white;
    border: none;
    font-size: 24px;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 16px;
}

a:hover{
    color:#05c7cf;
}

.button:hover{
    background-color: white;
    color:#05c7cf;
}
.row{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about, #discord, #contact, footer{
    padding: 48px 0px;
    align-items: center;
    justify-content: center;

}

/* ABOUT */

#about{
    background-color: #f8ffdc;
    min-height: calc(100vh + 70px);
}

h2{
    font-size: 60px;
    text-align: center;
    margin-top: 24px;
}

.section-description{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.about-image-wrapper{
    width: 40%;
    padding: 0 24px;
}


.section-description-wrapper{
    width: 60%;
    padding: 0 24px;
}

.section-description-para{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}

/* DISCORD */

#discord{
    background-color: #cefeff;
    min-height: calc(100vh + 70px);
}

/* CONTACT */

#contact{
    background-color: #dce9ff;
    min-height: calc(100vh + 70px);
}

form{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 24px;
}

input, textarea,{
    margin-bottom: 24px;
    font-size: 20px;
    padding: 6px 12px;
}

span{
    font-size: 24px;
    margin: 12px 0;
}
 

/* FOOTER */

footer{
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo{
    max-width: 480px;
    margin-bottom: 16px;
}

.footer-links{
    margin-bottom: 32px;
}

.footer-link{
    padding: 0 16px;
}


/* Smart phones, tablets, large smartphones formatting */

@media (max-width: 768px){
    .row{
        flex-direction: column;
    }

    nav ul{
        display: none;
    }

    .home-description, .home-img-wrapper{
        width: 100%;
    }

    .home-description{
        margin-bottom:24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button{
        max-width: 240px;
    }

    h1{
        text-align: center;
        font-size: 60px;
    }

    .subheader{
        text-align: center;
        font-size: 28px;
    }

    .section-description{
        flex-direction: column;
    }

    .section-description-wrapper, .about-image-wrapper{
        width: 100%;
    }

    #discord .section-description{
        flex-direction: column-reverse;
    }

    form{
        padding: 0 24px;
    }

    .button-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer{
        padding: 48px 24px;
    }

    .footer-logo{
        max-width: 360px;
    }

    .footer-link{
        padding: 0 4px;
        font-size: 18px;
    }

    .footer-links{
        margin-bottom: 24px;
    }
}

@media (max-width: 480px) {
    .footer__logo {
      max-width: 320px;
    }
  
    .footer__link {
      font-size: 16px;
    }
  }